.idea
/build/
dist/
.cover/
profile/


# nsqd data from testing
*.dat
# Go.gitignore

# Dynamic libs
*.o
*.a
*.so

# Folders
_obj
_test

*.exe

# vim stuff
*.sw[op]


/app/datalink/*.exe
/app/datalink/datalink
/runtime/error/*
/runtime/resume/*
/runtime/task/*

obs.prs
config.toml